.container {
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#form {
    display: flex;
    flex-direction: column;
}

#username, #password{
  padding: 10px;
  height: 30px;
  margin-bottom: 10px;
  font-size: 25px;
}

#btn {
  padding: 10px;
  background-color: rgb(150, 228, 140);
  font-size: 30px;
  cursor: pointer;
}